@import '../../scss/native-imports';

.tabbar {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: size("xl");
  background-color: get-color("kirby-surface");
  border-top-width: 1;
  border-top-color: get-color("kirby-disabled");
}
