@import "../../../kirby/scss/web-imports";

.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: size("xl");
  @include media(">=medium") {
    justify-content: flex-end;
  }  
  padding-left: size("gutter");
  padding-right: size("gutter");
  background-color: var(--kirby-surface);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
  font-size: font-size("xs");
  height: 100%;
  
  @include media(">=medium") {
    margin-right: size("gutter-small");
    margin-left: size("gutter-small");
    flex-direction: row;
  }         
}

kirby-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 size("xs");
}