

<FlexboxLayout col="0" row="1" class="tabbar">
  <FlexboxLayout class="tabbar-item" backgroundColor="red" (tap)="onButtonTap()">
    <Image src="~/assets/icons/sprites/png/Foryou.png"></Image>
    <Label text="For dig"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="tabbar-item" (tap)="onButtonTap()">
    <Image src="~/assets/icons/sprites/png/Foryou.png"></Image>
    <Label text="Indbakke"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="tabbar-item" (tap)="onButtonTap()">
    <Image src="~/assets/icons/sprites/png/Foryou.png"></Image>
    <Label text="Menu"></Label>
  </FlexboxLayout>
</FlexboxLayout>
